body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0 0 10px;
}


.produc-heading {
  text-align: center;
}

.produc-heading h2 {
  margin: 0 0 20px;
  font-size: 40px;
}

.product-area {
  padding: 70px 15px;
}

.cat-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cat-item, .btn {
  text-transform: capitalize;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #3e9d26;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.cat-item.active, .btn:hover{
  background-color: #000;
}

.product-cat {
  padding: 30px 0;
}

.product-img img {
  max-width: 100%;
  max-height: 100%;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 180px;
}

.product-content {
  padding: 15px;
}

.product-content h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 0 10px;
  font-size: 18px;
}

.product-content p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 0 10px;
}

.product-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
}

.mb-20 {
  margin-bottom: 30px;
}

.page-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 25px 0;
  padding: 0;
}

.page-items .pageNumber button {
  padding: 10px 12px;
  background-color: green;
  color: #fff;
  margin: 5px;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

.pageNumber.active button {
  background-color: #000;
}

.pageNumber.disable button {
  background-color: #ddd;
  color: #888;
  border-color: #ddd;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0;
}

.shimmer {
  margin-top: 80px;
}

.search-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-product input {
  width: 250px;
  height: 44px;
  padding: 5px 10px;
  border: 1px solid #000;
  outline: 0;
}

.search-product button {
  padding: 5px 20px;
  background-color: #3e9d26;
  color: #fff;
  border: 0;
  height: 44px;
  cursor: pointer;
  font-size: 16px;
}

.search-product {
  display: flex;
  align-items: stretch;
}

.search-product button:hover {
  background-color: #000;
}

a.active {
  color: red;
}

.single-product img {
  max-width: 200px;
}

.single-product {
  padding: 50px;
}

.product-content a, .single-product button {
  text-transform: capitalize;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #3e9d26;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}
.product-content a:hover, .single-product button:hover {
  background-color: #000;
}
span.tag {
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0;
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.product-item {
  position: relative;
}

span.popular {
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
}

.product-item {
  position: relative;
}

.accordian-title h3 {margin: 0;font-size: 16px;}

.accordian-title {
  padding: 10px 20px;
  background-color: #3e9d26;
  cursor: pointer;
  color: #fff;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordian-content {
  background-color: #f5f5f5;
  display: block;
  padding: 20px;
}

.accordian-content p {
  margin: 0;
}

.main-nav button {
  text-transform: capitalize;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #3e9d26;
  cursor: pointer;
  outline: none;
  border: 0;
  font-size: 16px;
}

.main-nav button:hover {
  background-color: #000;
  color: #fff;
}

.status h5 {
  margin: 0;
  color: #fff;
}

nav{
  background-color: #3e9d26;
}
.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav li {
  list-style: none;
  margin-left: 35px;
  font-size: 22px;
  color: #ccc;
  text-decoration: none;
}

.main-nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.main-nav a:hover {
  color: #000;
}
.main-nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.cart-container {
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.cart-container th, .cart-container td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}
.cart-container th {
  background: #28a745;
  color: white;
}
.cart-container tr:nth-child(even) {
  background: #f2f2f2;
}
.quantity-btn {
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 5px;
  margin:  0 10px;
}
.remove-btn {
  background: #dc3545;
}
.quantity-btn:hover {
  opacity: 0.8;
}
.empty-msg {
  text-align: center;
}
.empty-msg h2{
  margin:  0 0 10px;
}
.empty-msg p {
  margin:  0 0 15px;
}
/* Dark Theme css */

nav.dark-theme {
  background-color: #1e1e1e;
}
.dark-theme .status h5, 
.dark-theme .produc-heading h2,
.dark-theme .nav-item a {
  color: #fff;
}

.dark-theme .theme button{
  background-color: #fff;
  color: #000;
}
.dark-theme .theme button:hover{
  background-color: #3e9d26;
  color: #fff;
}

.product-area.dark-theme {
  background-color: #1e1e1e
}

  .product-item {
    background-color: #fff;
}

.dark-theme .cat-item.active,
.dark-theme .pageNumber.active button {
  background-color: #fff;
  color: #000;
}

.product-filter {
  padding: 70px 0;
}

.filter-area {
  background-color: #f3f3f3;
}

.filter-title {
  background-color: #3e9d26;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.filter-title h6 {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.filter-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-title button {
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
}

.filter-title button:hover {
    color: #000;
}
.filter-wrap {
  padding: 10px 20px;
  border-bottom: 1px solid #c9c9c9;
}

.filter-wrap h6 {
  font-size: 18px;
  font-weight: 500;
  color: #3e9d26;
}


.form-group {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 8px;
  top: -1px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 6px;
  height: 14px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}